<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexVana</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="{{data.ruta_css_pelicula}}">
</head>

<body>

    <div class="Titulo">
        <h1>NexVana</h1>

    </div>

    <div class="Poster">
        <img src="https://www14.pelisplushd.lat/poster/transformers-el-despertar-de-las-bestias.jpg" alt="Movie Poster">
        <p>
            <span class="Sinopsis">SINOPSIS:</span><br> Una aventura alrededor del mundo con los Autobots que introducirá una nueva facción de Transformers - los Maximals - en la batalla existente en la Tierra entre Autobots y Decepticons.
        </p>
    </div>

    <div class="Pelicula">
        <embed width="1360" height="768" src="https://okru.link/v2/embed_vf_m.html?t=VAiJvnsyeET_layFarr3f3FAKCI5vgAmM1fo8kTNHIuuUEJ7JVfyZtaSsH2f5bDNi82w87WoLyn175QGJ8WriQnnDMmyOt72ZMfnti6hXEODt2vUKy_.9gs0wvSGYBwN" type="video/mp4" controls; allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""></embed>
    </div>
    <a href="/" class="btn-back">Volver a la página principal</a> <!-- Botón de regreso -->
</body>
</html>