<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>NexVana</title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap">
   <link rel="stylesheet" href="{{data.ruta_css_pelicula}}">
</head>
<body>

   <div class="Titulo">
      <h1>NexVana</h1>

   </div>
   
   <div class="Poster">
      <img src="https://www14.pelisplushd.lat/poster/agente-stone.jpg" alt="Movie Poster">
      <p>
         <span class="Sinopsis">SINOPSIS:</span><br>
         Rachel Stone es una agente de inteligencia, la única mujer que se interpone entre su poderosa organización mundial de mantenimiento de la paz y la pérdida de su activo más valioso y peligroso.
      </p>
   </div>

   <div class="Pelicula">
      <embed width="1360" height="768" src="https://okru.link/v2/embed_vf_f.html?t=VAiJvnsyeET_layFarr3f3_RYclZwkPLl52y7nCfX4WR4gbgGVmWVtG7n9vGwMHt1PM71tknr_FRHazIV4hPzHpgcDbBoP4.EmFHRZiaHpaHX6tKFaU9Y5vaWzvwIMyf" 
      type="video/mp4" controls; allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></embed>
   </div>
   <a href="/" class="btn-back">Volver a la página principal</a> <!-- Botón de regreso -->
</body>
</html>
