<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>NexVana</title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap">
   <link rel="stylesheet" href="{{data.ruta_css_pelicula}}">
</head>
<body>

   <div class="Titulo">
      <h1>NexVana</h1>

   </div>
   
   <div class="Poster">
      <img src="https://www14.pelisplushd.lat/poster/island-escape.jpg" alt="Movie Poster">
      <p>
         <span class="Sinopsis">SINOPSIS:</span><br>
         Atrapados en una isla, un equipo de mercenarios en una misión de rescate comienza a cuestionar todo a su alrededor mientras se encuentran con criaturas amenazantes que viven en las sombras.
      </p>
   </div>

   <div class="Pelicula">
      <embed width="1360" height="768" src="https://mega.nz/embed/1mNRFZgQ#cgkBTrOeTDMy80bIDu_NW0MrtW57iuOiv2KS04eyOO4" 
      type="video/mp4" controls; allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></embed>
   </div>
   <a href="/" class="btn-back">Volver a la página principal</a> <!-- Botón de regreso -->
</body>
</html>
