<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>NexVana</title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap">
   <link rel="stylesheet" href="{{data.ruta_css_pelicula}}">
</head>
<body>

   <div class="Titulo">
      <h1>NexVana</h1>

   </div>
   
   <div class="Poster">
      <img src="https://www14.pelisplushd.lat/poster/tortugas-ninja-caos-mutante.jpg" alt="Movie Poster">
      <p>
         <span class="Sinopsis">SINOPSIS:</span><br>
         Después de años de estar protegidos del mundo humano, los hermanos Turtle se propusieron ganarse los corazones de los neoyorquinos y ser aceptados como adolescentes normales a través de actos heroicos. Su nueva amiga April O'Neil los ayuda a enfrentarse a un notorio sindicato del crimen, pero pronto se vuelven locos cuando un ejército de mutantes se desata sobre ellos.
      </p>
   </div>

   <div class="Pelicula">
      <embed width="1360" height="768" src="https://okru.link/v2/embed_vf_f.html?t=VAiJvnsyeET_layFarr3f0VVhirhrb2D9Mv6_UbcPXltmiS2tOpkqVmffhhFrirR_s3rReMY9eAd3W35NpFrB0DYr6xbtzNZPjG_BTQcAb810xKAEXlHnTh_lyamGNBC" 
      type="video/mp4" controls; allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></embed>
   </div>
   <a href="/" class="btn-back">Volver a la página principal</a> <!-- Botón de regreso -->
</body>
</html>
