<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexVana</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="{{data.ruta_css_pelicula}}">
</head>
<body>

    <div class="Titulo">
        <h1>NexVana</h1>

    </div>
    
    <div class="Poster">
        <img src="https://www14.pelisplushd.lat/poster/divina-senal.jpg" alt="Movie Poster">
        <p>
            <span class="Sinopsis">SINOPSIS:</span><br>
            Checo y Chuma deciden utilizar sus habilidades delictivas para hacer el bien y ayudar a la gente. En el camino, aprenden que la amistad y el amor son algo más que clichés.
        </p>
    </div>

    <div class="Pelicula">
        <embed width="1360" height="768" src="https://okru.link/v2/embed_vf_f.html?t=VAiJvnsyeET_layFarr3fwWRL9JGbl9FUlZnO5k9WX0O9ih5tQdnqnwVkIhmmgTAQNOYE2rFdoNnyuBkb1LfhJALWv4it_eSZfNzdCd3h5YHdmiByC3SqQ.JufxY96lW" 
        type="video/mp4" controls; allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></embed>
    </div>
    <a href="/" class="btn-back">Volver a la página principal</a> <!-- Botón de regreso -->
</body>
</html>
