<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>NexVana</title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap">
   <link rel="stylesheet" href="{{data.ruta_css_pelicula}}">
</head>
<body>

   <div class="Titulo">
      <h1>NexVana</h1>

   </div>
   
   <div class="Poster">
      <img src="https://image.tmdb.org/t/p/w342/zNKs1T0VZuJiVuhuL5GSCNkGdxf.jpg" alt="Movie Poster">
      <p>
         <span class="Sinopsis">SINOPSIS:</span><br>
         Mientras trabaja bajo tierra para arreglar una tubería de agua, los plomeros de Brooklyn Mario y su hermano Luigi son transportados por una misteriosa tubería y llegan a un nuevo mundo mágico. Pero cuando los hermanos se separan, Mario se embarca en una búsqueda épica para encontrar a Luigi. Con la ayuda de un residente del Reino Champiñón, Toad y algo de entrenamiento de la gobernante del Reino Champiñón, la Princesa Peach, Mario conocerá su propio poder.
      </p>
   </div>

   <div class="Pelicula">
      <embed width="1360" height="768" src="https://embedwish.com/e/6u5jto1igx1g" 
      type="video/mp4" controls; allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></embed>
   </div>
   <a href="/" class="btn-back">Volver a la página principal</a> <!-- Botón de regreso -->
</body>
</html>
