<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexVana</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="{{data.ruta_css_pelicula}}">
</head>
<body>

    <div class="Titulo">
        <h1>NexVana</h1>

    </div>
    
    <div class="Poster">
        <img src="https://www14.pelisplushd.lat/poster/al-descubierto-johnny-football.jpg" alt="Movie Poster">
        <p>
            <span class="Sinopsis">SINOPSIS:</span><br>
            Con entrevistas a sus conocidos y al propio Johnny Manziel, este documental sigue el meteórico ascenso y la caída de la estrella del fútbol americano.
        </p>
    </div>

    <div class="Pelicula">
        <embed width="1360" height="768" src="https://okru.link/v2/embed_vf_f.html?t=VAiJvnsyeET_layFarr3f8DVvLFqtqVlk7ruLNS3TNiTh8Mwy97_bAPekOlEdZ24y5v18wN62SQgKdwjYtjli0f.XddVxz8RwtE86lzoW5TmyqrFAallkO7JtqRlRqMD" 
        type="video/mp4" controls; allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></embed>
    </div>
    <a href="/" class="btn-back">Volver a la página principal</a> <!-- Botón de regreso -->
</body>
</html>
