<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexVana</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="{{data.ruta_css_pelicula}}">
</head>

<body>

    <div class="Titulo">
        <h1>NexVana</h1>

    </div>

    <div class="Poster">
        <img src="https://www14.pelisplushd.lat/poster/guardianes-de-la-galaxia-volumen-3.jpg" alt="Movie Poster">
        <p>
            <span class="Sinopsis">SINOPSIS:</span><br> Peter Quill, aún conmocionado por la pérdida de Gamora, debe reunir a su equipo en torno a él para defender el universo junto con la protección de uno de los suyos. Una misión que, si no se lleva
            a cabo con éxito, podría suponer el fin de los Guardianes tal y como los conocemos.
        </p>
    </div>

    <div class="Pelicula">
        <embed width="1360" height="768" src="https://okru.link/v2/embed_vf_m.html?t=VAiJvnsyeET_layFarr3f7q0BtmCftsadXvtpL31HHrVTAJ_ADOKzJ34PEoxwOb4eaqyy8TkHhMZs8lOln2rVmjWUbVvHM9Hf0c3lccNcGtP6G1bIbleLAaH290pR_os" type="video/mp4" controls; allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""></embed>
    </div>
    <a href="/" class="btn-back">Volver a la página principal</a> <!-- Botón de regreso -->
</body>
</html>