<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>NexVana</title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap">
   <link rel="stylesheet" href="{{data.ruta_css_pelicula}}">
</head>
<body>

   <div class="Titulo">
      <h1>NexVana</h1>

   </div>
   
   <div class="Poster">
      <img src="https://www14.pelisplushd.lat/poster/the-seven-deadly-sins-el-rencor-de-edimburgo-parte-2.jpg" alt="Movie Poster">
      <p>
         <span class="Sinopsis">SINOPSIS:</span><br>
         Tristan se reúne con Lancelot por primera vez desde su accidente trágico y debe aprender a dominar a sus demonios internos para poder salvar la vida de su madre.
      </p>
   </div>

   <div class="Pelicula">
      <embed width="1360" height="768" src="https://okru.link/v2/embed_vf_f.html?t=VAiJvnsyeET_layFarr3fzGoNddJMjJFuoFiVzThu_LE1DKmOXKStrOW1TFs4VsMDxMOWqug7H9u4Z5jnxqrHB0WqlhpIyqS00hSWketrSZ.RAGeXD3cwItK.dqQbZHH" 
      type="video/mp4" controls; allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></embed>
   </div>
   <a href="/" class="btn-back">Volver a la página principal</a> <!-- Botón de regreso -->
</body>
</html>
