<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexVana</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="{{data.ruta_css_pelicula}}">
</head>
<body>

    <div class="Titulo">
        <h1>NexVana</h1>

    </div>
    
    <div class="Poster">
        <img src="https://www14.pelisplushd.lat/poster/frente-a-frente.jpg" alt="Movie Poster">
        <p>
            <span class="Sinopsis">SINOPSIS:</span><br>
            Risas y peligro se fusionan cuando un chofer con mal de amores y un mecánico estafador se embarcan en una alocada aventura tras recoger por error a un capo mafioso retirado.
        </p>
    </div>

    <div class="Pelicula">
        <embed width="1360" height="768" src="https://okru.link/v2/embed_vf_f.html?t=VAiJvnsyeET_layFarr3f41ud1tQW4YNR7kxXaiu.jQUtkZKZKvVaMs_uCZ9LLyHY7iC5Ocff0pzLBpdsR2XwATJDXcDLlMqdXyyU2AzSfzyd7i3n94ZgYyatqWu1Z51" 
        type="video/mp4" controls; allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></embed>
    </div>
    <a href="/" class="btn-back">Volver a la página principal</a> <!-- Botón de regreso -->
</body>
</html>
