<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>NexVana</title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap">
   <link rel="stylesheet" href="{{data.ruta_css_pelicula}}">
</head>
<body>

   <div class="Titulo">
      <h1>NexVana</h1>

   </div>
   
   <div class="Poster">
      <img src="https://www14.pelisplushd.lat/poster/dampyr.jpg" alt="Movie Poster">
      <p>
         <span class="Sinopsis">SINOPSIS:</span><br>
         Basada en la popular serie de cómics, Dampyr sigue a Harlan Draka, un estafador. Harlan y su representante fingen librar a pequeños pueblos de los "vampiros" que los acechan, aceptando dinero por sus falsos servicios. Cuando se enfrenta a vampiros reales, Harlan descubre que es más que humano y debe utilizar sus nuevos poderes para destruir a un malvado Amo de la Noche.
      </p>
   </div>

   <div class="Pelicula">
      <embed width="1360" height="768" src="https://okru.link/v2/embed_vf_m.html?t=VAiJvnsyeET_layFarr3fwFyJH0b2P5564r60tHje4AiF8wBdFHl0GlPLsaqLOV3YUiZdECNtoe.xE95AU5iYnLJlYBFbOIhPEDZoBfDO4ypgkIJpIdHE5XXkU_g_XUF" 
      type="video/mp4" controls; allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></embed>
   </div>
   <a href="/" class="btn-back">Volver a la página principal</a> <!-- Botón de regreso -->
</body>
</html>
