<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - NexVana</title>
    <link rel="stylesheet" href="{{ data.contacto_css }}">
</head>
<body>
    
    <section class="about-us container">
        <h1 class="logo">NEXVANA</h1>
        <h2>Contacto</h2>
        <hr>
        <div class="about-box">
            <div class="about-member">
                <img src="{{ data.ruta_piero_img }}" alt="Piero">
                <h3>Piero Naranjo Ramos</h3>
                <p>Edad:20 años</p>
                <p>Correo Personal: pierosqui2023@gmail.com</p>
                <p>Correo Institucional: piero.naranjor@ug.edu.ec</p>
                
            </div>
            <div class="about-member">
                <img src="{{ data.ruta_daniel_img }}" alt="Daniel">
                <h3>Daniel Castillo Solis</h3>
                <p>Edad:20 años</p>
                <p>Correo Personal: castillosops30@gmail.com</p>
                <p>Correo Institucional: daniel.castillos@ug.edu.ec</p>
                
            </div>
            <div class="about-member">
                <img src="{{ data.ruta_andres_img }}" alt="Andres">
                <h3>Andres Jaramillo Guapulema</h3>
                <p>Edad: 20 años</p>
                <p>Correo Personal: andresjaramillo2025@gmail.com</p>
                <p>Correo Institucional: andres.jaramillog@ug.edu.ec</p>
            </div>
        </div>
        <a href="/" class="btn-back">Volver a la página principal</a> <!-- Botón de regreso -->
    </section>

</body>
</html>
